name: omnimap
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults

dependencies:
  # - python=3.10
  - pip
  - wheel
  - setuptools=69.5.1

  # PyTorch + CUDA (runtime)
  - pytorch=2.1.2
  - torchvision
  - torchaudio
  - pytorch-cuda=11.8
  - cudatoolkit=11.8

  # CUDA toolchain внутри conda (nvcc + headers)
  - cuda-nvcc=11.8
  - cuda-cudart-dev=11.8

  # science stack
  - numpy=1.26.4
  - scipy
  - matplotlib
  - suitesparse
  - opencv
  - tqdm
  - pyyaml

  # ML / infra
  - lightning
  - torchmetrics

  # system / build
  - cmake
  - ninja
  - pkg-config
  - gcc_linux-64=11
  - gxx_linux-64=11

  - pip:
    # visualization / utils
    - imgviz
    - timm
    - open3d
    - evo
    - munch
    - plyfile
    - rich
    - glfw
    - PyGLM
    - natsort
    - distinctipy

    # NLP (if really used)
    - spacy
    - sentence-transformers
    - transformers==4.36.2  # Fixed version for PyTorch 2.1.2 compatibility

    # network / misc
    - bcrypt>=3.2
    - pynacl>=1.5
    - beautifulsoup4
    - texttable
    - wsproto
    - requests~=2.28.2
    - cryptography 
    - jmespath 
    - aiofiles